// The reason this Google Fonts import is here instead of inside the head of the HTML is:

// This is coursework, and the only time this specific stylesheet is used is when there are no other stylesheets defined - like in the Javascript excercises.
// Also, if I was to switch out Ubuntu for, say, Lato, I'd prefer to edir 1 file to make this happen instead of potentially tens.


@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Ubuntu+Mono");

html {
  font-family: "Open Sans";
  line-height: 1.33;
}

h1,
h2 {
  font-family: ubuntu, sans-serif;
}

pre {
  font-family: "Ubuntu Mono", monospace;
}
