h1 Log in

form(action="/login" method="POST")
  input(type="text", name="username", placeholder="username")
  input(type="password", name="password", placeholder="password")
  button log in

li: a(href="/register") register
li: a(href="/login") login
li: a(href="/logout") logout